<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<div th:each="actor : ${actors}">

    <h3 th:text="${actor.name}"></h3>
   <!-- <h4 th:text="${actor.realname}"></h4> -->
    <h4 th:inline="text">Real Name is [[${actor.realname}]]</h4>
    <ul>
        <th:block th:each="movie : ${actor.movies}">
            <li th:inline="text"><b> [[${movie.title}]]</b> released in [[${movie.year}]]. </li>
        </th:block>
    </ul>
</div>

<div th:each="movie : ${movies}">

    <h3 th:text="${movie.title}"></h3>
    <h4 th:text="${movie.year}"></h4>
    <h6 th:inline="text">[[${movie.description}]]</h6>
    <ul>
        <th:block th:each="actor : ${movie.cast}">
            <li th:inline="text"><b> [[${actor.name}]]</b> </li>
        </th:block>
    </ul>
</div>

</body>
</html>